# General Python ignore rules
__pycache__/
*.pyc

# IDE-specific files/directories (PyCharm .idea directory)
.idea/

# Virtual environment (venv) directory
venv/

# Compiled Python files
*.pyc

# Environment-specific files
.env

# User-specific files
*.iml
.DS_Store

# Generated HTML files
*.html

# Ignore the data directory if you don't want to track it
data/

# Ignore any log files or output files
*.log
*.out
